$blue: #3c6ef0;
$orange: #ff7700;
$green: #12b35d;
$red: #fc3737;
$black: #23252b;
$black-light: #525765;
$black-lighter: #868D9F;
$view-eyes: #CBD5E9;
$grey: #F5F5F6;
$info: #a8abb2;
// 字体色
$font-color: $black;
$font-color-light: $black-light;
$font-color-lighter: $black-lighter;

// 字体大小
$font-size-default: 14px;
$font-size-sm: 13px;
$font-size-xs: 12px;
$font-size-md: 16px;
$font-size-lg: 18px;

// 间距
$mw-xl: 40px; 
$mw-lg: 32px;
$mw-md: 24px;
$mw: 16px;
$mw-sm: 8px;
$mw-xs: 4px;

// 主题色
$primary-color: $blue;
$info-color: $info;
$warning-color: $orange;
$success-color: $green;
$error-color: $red;

