@font-face {
  font-family: "JDLANGZHENGTI";
  src: url("./fonts/JDLANGZHENGTI.woff2") format("woff2"),
  url("./fonts/JDLANGZHENGTI.woff") format("woff"),
  url("./fonts/JDLANGZHENGTI.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'JDZhengHT';
  src: url('./fonts/JDZhengHT.woff2') format('woff2'),
  url('./fonts/JDZhengHT.woff') format('woff'),
  url('./fonts/JDZhengHT.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
